.layout {
  background-color: #2c3e50;
  h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
    color: #ecf0f1;
  }
  form {
    .one-field {
      margin: 30px 80px;
      label {
        color: #ecf0f1;
      }
      .err {
        color: red;
        padding-top: 15px;
      }
    }
    .to-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 50%;
        font-weight: 700;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
  .todo-list {
    padding-bottom: 10px;
    .item {
      margin: 15px;
      color: #ecf0f1;
      border: 1px solid;
      border-radius: 10px;
      padding: 10px;
      p {
        text-align: center;
      }
      small {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .info {
          transition: all 0.3s ease;
          &:hover {
            color: #2c3e50;
            padding: 5px 10px;
            border-radius: 30px;
            background-color: #bdc3c7;
          }
        }
      }
    }
  }
}
