<div class="layout">
  <h1>This Is My First App Using Mean Stack</h1>
  <form [formGroup]="formPost" class="pb-5">
    <div class="one-field">
      <label for="title">Your Todo</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter your todo"
        formControlName="title"
      />
      <div class="err" *ngIf="formErrors.title">Please Enter The Field</div>
    </div>
    <div class="one-field">
      <label for="description">Your Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Enter your description"
        formControlName="description"
      />
      <div class="err" *ngIf="formErrors.description">Please Enter The Field</div>
    </div>
    <div class="to-flex">
      <button class="btn btn-light" [disabled]="formPost.invalid" (click)="addNewItem()">
        Submit
      </button>
    </div>
  </form>
  <div class="todo-list">
    <p class="pl-3 text-white">List Thing To Do</p>
    <div class="item" *ngFor="let item of data">
      <p>{{ item.title }}</p>
      <small class="text-center">{{ item.description }}</small>
      <div class="icon">
        <div class="info"><i class="fas fa-check p-3" (click)="doneItem(item._id)"></i>Done</div>
        <div class="info"><i class="fas fa-edit p-3" (click)="editItem(item._id)"></i>Edit</div>
        <div class="info"><i class="fas fa-trash-alt p-3" (click)="deleteItem(item._id)"></i>Delete</div>
      </div>
    </div>
  </div>
</div>
