<div class="layout">
  <h1>Details Item</h1>
  <form [formGroup]="formDetails">
    <div class="one-field">
      <label for="title">Your Todo</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
    </div>
    <div class="one-field">
      <label for="description">Your Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
      />
    </div>
    <div class="one-button">
      <button class="btn btn-dark text-center" (click)="back()">Back</button>
    </div>
    <div class="one-button">
      <button
        class="btn btn-light"
        (click)="update()"
      >
        Update
      </button>
    </div>
  </form>
</div>
